<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yurirvs.dome.mapper.OrderMapper">

    <insert id="insert"
            parameterType="com.yurirvs.dome.entity.Orders"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO orders (
            number,
            status,
            user_id,
            address_book_id,
            order_time,
            checkout_time,
            pay_method,
            pay_status,
            amount,
            remark,
            user_name,
            phone,
            address,
            consignee,
            cancel_reason,
            rejection_reason,
            cancel_time,
            estimated_delivery_time,
            delivery_status,
            delivery_time,
            pack_amount,
            tableware_number,
            tableware_status
        )
        VALUES (
                   #{number},
                   #{status},
                   #{userId},
                   #{addressBookId},
                   #{orderTime},
                   #{checkoutTime},
                   #{payMethod},
                   #{payStatus},
                   #{amount},
                   #{remark},
                   #{userName},
                   #{phone},
                   #{address},
                   #{consignee},
                   #{cancelReason},
                   #{rejectionReason},
                   #{cancelTime},
                   #{estimatedDeliveryTime},
                   #{deliveryStatus},
                   #{deliveryTime},
                   #{packAmount},
                   #{tablewareNumber},
                   #{tablewareStatus}
               )
    </insert>


    <update id="update" parameterType="com.yurirvs.dome.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        where id = #{id}
    </update>


    <resultMap id="getByUserIdWithDetailsResultMap"
               type="com.yurirvs.dome.vo.OrderVO">

        <id property="id" column="id"/>

        <result property="number" column="number"/>
        <result property="status" column="status"/>
        <result property="userId" column="user_id"/>
        <result property="addressBookId" column="address_book_id"/>
        <result property="orderTime" column="order_time"/>
        <result property="checkoutTime" column="checkout_time"/>
        <result property="payMethod" column="pay_method"/>
        <result property="payStatus" column="pay_status"/>
        <result property="amount" column="amount"/>
        <result property="remark" column="remark"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="consignee" column="consignee"/>
        <result property="cancelReason" column="cancel_reason"/>
        <result property="rejectionReason" column="rejection_reason"/>
        <result property="cancelTime" column="cancel_time"/>
        <result property="estimatedDeliveryTime"
                column="estimated_delivery_time"/>
        <result property="deliveryStatus" column="delivery_status"/>
        <result property="deliveryTime" column="delivery_time"/>
        <result property="packAmount" column="pack_amount"/>
        <result property="tablewareNumber" column="tableware_number"/>
        <result property="tablewareStatus" column="tableware_status"/>

        <collection property="orderDetailList"
                    column="id"
                    select="com.yurirvs.dome.mapper.OrderDetailMapper.getByOrderId"
                    fetchType="eager"/>
    </resultMap>

    <select id="getByUserIdWithDetails" resultMap="getByUserIdWithDetailsResultMap">
        SELECT *
        FROM orders
        WHERE user_id=#{userId}
    </select>

    <select id="getByIdWithDetails" resultMap="getByUserIdWithDetailsResultMap">
        SELECT *
        FROM orders
        WHERE id = #{id}
    </select>

    <select id="conditionSearch" resultMap="getByUserIdWithDetailsResultMap">
        SELECT *
        FROM orders
        <where>
            <if test="phone != null">
                phone = #{phone}
            </if>

            <if test="status != null">
                AND status = #{status}
            </if>

            <if test="number != null and number != ''">
                AND number LIKE CONCAT('%', #{number}, '%')
            </if>

            <if test="beginTime != null">
                AND order_time <![CDATA[>=]]> #{beginTime}
            </if>

            <if test="endTime != null">
                AND order_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>
    </select>
</mapper>
