<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yurirvs.dome.mapper.SetmealDishMapper">

    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        SELECT setmeal_id
        FROM setmeal_dish
        WHERE dish_id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <insert id="addSetMealDishes">
        INSERT INTO setmeal_dish (setmeal_id, dish_id, name, price, copies)
        VALUES
        <foreach collection="setmealDishes" item="d" separator=",">
            (#{d.setmealId},#{d.dishId},#{d.name},#{d.price},#{d.copies})
        </foreach>
    </insert>

    <delete id="deleteBySetmealIds">
        DELETE
        FROM setmeal_dish
        WHERE setmeal_id IN
        <foreach collection="ids" item="setmealId" separator="," open="(" close=")">
            #{setmealId}
        </foreach>
    </delete>
</mapper>
